*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.register h1{
    text-align: center;
}
.register{
    width: 600px;
    padding: 34px;
    margin: 23px;
    margin-inline: auto;
    margin-inline: auto;
    border-radius: 50px;
    border: 2px solid black;
    background-color: whitesmoke;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 7%, rgba(252,70,107,1) 83%);
    /* opacity: 0.25; */
    filter: brightness(120%);
    margin-top: 75px;
}

.profile{
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
}

.profileImgSec{
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
/* .profileImg{
  
} */
.avatar {
    vertical-align: middle;
    width: 150px;
    height: auto;
    border-radius: 100%;
    border: 1px solid black;
}
.profileContent{
    width: 200px;
    /* background-color: antiquewhite; */
    float: left;
    text-align: right;
    padding: 3px;
}
.profileData{
    width: 200px;
    /* background-color: brown; */
    float: right;
    text-align: left;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
.btn{ 
    /* display: flex; */
    width: 40%;
    margin-inline: auto;
    font-size: 16px;
    color: white;
    background: rgb(36, 144, 203);
    padding: 10px;
    border: 1px solid rgb(35, 30, 30);
    border-radius: 20px;
    cursor: pointer;
}
.profile input {
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    /* width: 80%; */
    /* margin: 10px; */
    padding: 3px;
}

#delete{
    background-color: rgb(215, 0, 0);
}

nav{
    padding: 20px;
    background-color: whitesmoke;
    font-size: 20px;
    
}
.left{
    width: 100px;
    text-align: right;
    float: left;
}
.right{
    width: 100px;
    margin-right: 15px;
    float: right;
    text-align: right;
}